body{
    background-color: lightgrey;
}
#2_3ExcersiseList{
    background-color: white;
    border-radius: 10px;
    width: 250px;
}
#2_4ExcersiseList{
    background-color: white;
    border-radius: 10px;
    width: 250px;
}