body{
    background-color: grey;
}
#excerciseList2_3{
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
}
.problems{
    background-color: lightblue;
    border: 1px solid grey;
    border-radius: 10px;
    height:fit-content;
    width: 250px;
    margin: 5px;
}
.solutions{
    background-color: white;
    color: rgb(10, 173, 10);
    overflow: hidden;
    display: none;
    border-radius: 5%;
    width: fit-content;
    border: 1px solid black;
}
.problems:hover{
    border-color: lightgreen;
}
.Two_3{
    background-color: white;
    border-radius: 5%;
    width: auto;
    height: 5%;
    border: 1% solid black;
    margin: 5%;
}
.Two_3_list{
    list-style-type: upper-alpha;
    justify-content: left;
}
li{
    text-align: left;
}